@import url("https://fonts.googleapis.com/css?family=Spartan");

:root {
    --white-1: #FFFFFF;
    --black-1: #000000;
    --grey-1: #A0A0A0;
    --font-fam-1: "Spartan";
    --font-size-1: 14px;
    --font-size-2: 12px;
    --font-size-3: 40px;
    --font-height-1: 13px;
    --font-height-2: 45px;
    --font-height-3: 20px;
    --font-height-4: 44.8px;
    --font-height-5: 16px;
    --font-height-6: 22px;
    --font-weight-1: 600;
    --font-weight-2: 500;
    --font-weight-3: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

#app-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-fam-1);
    font-weight: var(--font-weight-1);
}

#row-1 {
    display: grid;
    /* grid-template-columns: repeat(12, minmax(60px, 120px)); */
    /* grid-template-columns: repeat(12, 120px); */
    grid-template-columns: 840px 600px;
    grid-template-rows: 534px;
}

#section-1 {
    /* grid-column: span 7; */
    grid-column: span 1;
    background-image: url("../assets/images/desktop-image-hero-1.jpg");
}


#section-1__container {
    display: flex;
    margin-left: 64px;
    margin-top: 64px;
}

#logo  {
    margin-right: 56px;
}

#section-1__container ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    width: 243px;
    height: 13px;
}

#section-1__container ul li {
    color: var(--white-1);
    font-size: var(--font-size-2);
    line-height: var(--font-height-1);
}

#section-2 {
    /* grid-column: span 5; */
    grid-column: span 1;
    background-color: var(--white-1);
    position: relative;
}

#section-2__container {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 400px;
    height: 261px;
}

#section-2__container h2 {
    color: var(--black-1);
    margin-bottom: 22px;
    font-size: var(--font-size-3);
    line-height: var(--font-height-4);
    letter-spacing: -1.66667px;
}

#section-2__container p {
    color: var(--grey-1);
    font-size: var(--font-size-2);
    line-height: var(--font-height-3);
    font-weight: var(--font-weight-2);
    letter-spacing: -0.25px;
    margin-bottom: 32px;
}

#cta_container span {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    line-height: var(--font-height-5);
    letter-spacing: 10px;
    margin-right: 33px;
    color: var(--grey-1);
}

#cta_container img {
    margin: 0;
}

#section-2__arrow_buttons {
    position: absolute;
    background-color: var(--black-1);
    display: inline-flex;
    bottom: 0;
    left: 0;
}

#section-2__arrow_buttons > * {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 34px;
    padding-right: 34px;
}

#row-2 {
    display: grid;
    grid-template-columns: 420px 580px 440px;
    grid-template-rows: 266px;
}

#section-3 {
    grid-column: span 1;
    background-image: url("../assets/images/image-about-dark.jpg");
}

#section-4__container {
    margin-top: 68px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 67px;
    max-width: 484px;
    height: 131px;
}

#section-4__container h3 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-3);
    line-height: var(--font-height-6);
    letter-spacing: 5px;
}

#section-4__container p {
    color: var(--grey-1);
    font-size: var(--font-size-2);
    line-height: var(--font-height-3);
    font-weight: var(--font-weight-2);
    letter-spacing: -0.25px;
}

#section-5 {
    grid-column: span 1;
    background-image: url("../assets/images/image-about-light.jpg");
}